<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Booklist</title>
	</head>
	<body>
		<section>
			<% books.forEach((book, i) => { %>
			<p>
				<em><%= book.title %></em> - <strong><%= book.author %></strong>
				<a href="/book/<%= i %>">details</a>
			</p>

			<% }); %>
		</section>
		<section>
			<h2>Missing something?</h2>
			<a href="books/new">Add a book</a>
		</section>
	</body>
</html>
