<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add new book</title>
	</head>
	<body>
		<h1>Add a new book</h1>
		<form>
			<p>
				<label for="author">Author:</label>
				<input
					id="author"
					type="text"
					placeholder="Author name"
					name="author"
				/>
			</p>
			<p>
				<label for="author">Title:</label>
				<input id="title" type="text" placeholder="Book title" name="title" />
			</p>
			<p>
				<label for="country">Image:</label>
				<input id="country" name="country" placeholder="Country" type="text" />
			</p>
			<p>
				<label for="img">Image:</label>
				<input
					id="img"
					name="img"
					placeholder="Link to the image"
					type="text"
				/>
			</p>
			<p>
				<label for="img">Country:</label>
				<input
					id="img"
					name="img"
					placeholder="Link to the image"
					type="text"
				/>
			</p>
			<p>
				<label for="img">Number of pages:</label>
				<input id="pages" name="pages" placeholder="Pages #" type="text" />
			</p>
			<button>Add</button>
		</form>
		<section>
			<a href="/books">Back to the list</a>
		</section>
	</body>
</html>
